#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #262626;
    color: white;
}

.container {
  width: 100%; /* Set the container width */
  height: 300px; /* Set the container height */
  text-align: center; /* Align text (and inline elements) to the center */
}

.centered {
  display: inline-block; /* Make the div behave like an inline-block element */
  margin: auto; /* Set the top and bottom margin to auto */
}